@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'default/colors';
@import 'components/audio-playlist';
@import 'components/audio-player';
@import 'components/audio-filter';
@import 'components/audio-navigation';

html,
body{
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body > .ember-view {
  width: 100%;
  height: 100%;
}

p,a,h1,h2,h3,h4,h5{
  font-family: $font-family;
}
/*Playlist */
main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.music-app{
  width: 100%;
  height: 100%;
}

.file-picker {
  display: flex;
  width: 50%;
  height: 100px;
  margin: 10px;
  background: $audio__player__active;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-size: 1.4em;

}

//Scroll design
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    height: 100px;
    background-color: #ccc;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
