@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'default/colors';
@import 'components/audio-playlist';
@import 'components/audio-player';
@import 'components/audio-filter';
@import 'components/audio-navigation';
@import 'default/helpers';

html,
body{
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: radial-gradient(ellipse at center, rgba(238,238,238,1) 0%, rgba(205,197,194,1) 86%, rgba(205,197,194,1) 100%);
}

body > .ember-view {
  width: 100%;
  height: 100%;
}

p,a,h1,h2,h3,h4,h5 {
  font-family: $font-family;
}

.hamburger {
  width: 10%;
  padding-top: 5px;
  margin: 0 10px;
  display: block;
}


input, button {
  outline: none;
}
/*Playlist */
main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 55px;
}
.liquid-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.liquid-child {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.music-app{
  width: 100%;
  height: 100%;
}
.file-picker {
  width: 100%;
  height: 100%;
}
.file-picker__dropzone {
  display: flex;
  width: 100%;
  height: 100%;

}

//Scroll design
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #d6d0ce;
    background: #d6d0ce;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    max-height: 50px;
    background-color: $primary_color;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #d6d0ce;
}
.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/**
 * Card component
 */

.card {
  margin: 100px auto;
  width: 450px;
  height: auto;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $background-login;
  font-family: $font-family;
  color: rgba(0, 0, 0 , 0.5);
  padding-bottom: 50px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.form-control {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.form-control input {
  padding-left: 10px;
}

.card input {
  width: 50%;
  height: 30px;
  border: none;
  margin: 3px;
  border-bottom: 1px solid rgba(0, 0, 0 , 0.5)
}

.card a{
  color: gray;
  text-decoration: none;
}

.button-link {
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid gray;
  text-align: center;
  background: $audio__player__active;
  border-radius: 15px;
  color: white;
}
.button-music {
  text-decoration: none;
}

.card button {
  width: auto;
  min-width: 130px;
  height: 100%;
  min-height: 35px;
  border-radius: 25px;
  border:  none;
  // background: linear-gradient(to left top,rgba(254,235,171,1) 0%, rgba(220,137,121,1) 51%, rgba(126,69,84,1) 100%);
  background: linear-gradient(to left top,rgba(220,137,121,1) 0%, rgba(126,69,84,1) 100%);
  color: white;
  margin: 5px;
  cursor: pointer;
}

.card button:active {
  box-shadow: inset 0px 0px 4px 2px rgba(0,0,0, 0.5);
}


// .log-out {
//   padding: 10px;
//   margin-right: 5px;
//   border: 1px solid gray;
//   background: $audio__player__active;
//   border-radius: 15px;
//   color: white;
// }

// .data-option {
//   background: $audio__player__active;
//   padding: 2px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   z-index: 9999;
//   border: 1px solid $audio__player__border;
//   box-shadow: 0px 0px 5px  rgba(0,0,0,0.75);
//   transition: transform 1s ease;
// }

// .data-option > div {
//   width: 100%;
//   height: 25px;
// }

// .data-option > div > p {
//   margin: 2px
// }
// .data-option > div:hover {
//   background: $playlist_background;
// }

// .data-option > div:active {
//   background: $playlist_background;
//   box-shadow: inset 0px 0px 23px 7px rgba(0,0,0,0.75);
// }

// .data-option > p {
//   padding: 1px;
//   margin: 2px;
// }
// .user-layout {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .user-configuration {
//   margin-top: 50px;
//   width: 60%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   background: $playlist_background;
// }

// .user-configuration input {
//   width: 50%;
//   height: 30px;
//   border: none;
//   border-radius: 25px;
//   margin: 3px;
// }

// .button-back {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   display: flex;
//   margin: 4px 10px 10px 0;
//   justify-content: center;
//   align-items: center;
//   border: 2px solid white;
//   color: white;
//   box-shadow: 0.5px 1px 3px #000;
// }

// .button-back:hover {
//   background: #46575f;
// }

// .button-back:active {
//   box-shadow: inset 0px 0px 2px #000;
// }


// .button {
//   background: #46575f;
//   box-shadow: 0.5px 1px 1px #000;
// }

// .button:hover {
//   background: #46575f;
// }

// .button:active {
//   box-shadow: inset 0px 0px 2px #000;
// }

@media (min-width: 750px) {
  .hamburger {
    display: none;
  }
  // main {
  //   height: 83%;
  // }
}
