@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'default/colors';
@import 'components/audio-playlist';
@import 'components/audio-player';
@import 'components/audio-filter';
@import 'components/audio-navigation';

html,
body{
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body > .ember-view {
  width: 100%;
  height: 100%;
}

p,a,h1,h2,h3,h4,h5 {
  font-family: $font-family;
}

input, button {
  outline: none;
}
/*Playlist */
main {
  position: relative;
  display: flex;
  width: 100%;
  height: 83%;
}

.music-app{
  width: 100%;
  height: 100%;
}
.file-picker {
  width: 100%;
  height: 100%;  
}
.file-picker__dropzone {
  display: flex;
  width: 100%;
  height: 100%;
  // margin: 10px 0 10px 0;
  // background: $playlist_background;
  // text-align: center;
  // align-items: center;
  // justify-content: center;
  // font-family: $font-family;
  // font-size: 1.4em;

}

//Scroll design
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    background: $playlist_background;
}
::-webkit-scrollbar-thumb {
    height: 100px;
    background-color: #ccc;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/**
 * Card component
 */

.card {
  margin: 100px auto;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $playlist_background;
  font-family: $font-family;
  color: white
}
.form-control {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.form-control input {
  padding-left: 10px;
}

.card input {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  margin: 3px;
}

.card a{
  color: white;
  text-decoration: none;
}

.card button {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  background: $audio__player__active;
  color: white;
  margin: 5px;
}

.card button:hover {
  background: $audio__player__active;
}

.log-out {
  padding: 10px;
  margin-right: 5px;
  background: $audio__player__active;
  border-radius: 15px;
  color: white;
}
