@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import 'default/colors';
@import 'components/audio-playlist';
@import 'components/audio-player';
@import 'components/audio-filter';
@import 'components/audio-navigation';

html,
body{
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body > .ember-view {
  width: 100%;
  height: 100%;
}

p,a,h1,h2,h3,h4,h5 {
  font-family: $font-family;
}

.hamburger {
  padding-top: 5px;
  margin-top: 0;
  margin-left: 10px;
  display: block;
}
@media (min-width: 750px) {
  .hamburger {
    display: none;
  }
}

input, button {
  outline: none;
}
/*Playlist */
main {
  position: relative;
  display: flex;
  width: 100%;
  height: 83%;
}

.music-app{
  width: 100%;
  height: 100%;
}
.file-picker {
  width: 100%;
  height: 100%;
}
.file-picker__dropzone {
  display: flex;
  width: 100%;
  height: 100%;
  // margin: 10px 0 10px 0;
  // background: $playlist_background;
  // text-align: center;
  // align-items: center;
  // justify-content: center;
  // font-family: $font-family;
  // font-size: 1.4em;

}

//Scroll design
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    background: $playlist_background;
}
::-webkit-scrollbar-thumb {
    height: 100px;
    background-color: #ccc;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/**
 * Card component
 */

.card {
  margin: 100px auto;
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $playlist_background;
  font-family: $font-family;
  color: white;
  padding-bottom: 50px;
}

.form-control {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.form-control input {
  padding-left: 10px;
}

.card input {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  margin: 3px;
}

.card a{
  color: white;
  text-decoration: none;
}

.button-link {
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid gray;
  text-align: center;
  background: $audio__player__active;
  border-radius: 15px;
  color: white;
}
.button-music {
  text-decoration: none;
}

.card button {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  background: $audio__player__active;
  color: white;
  margin: 5px;
}

.card button:hover {
  background: $audio__player__active;
}

.log-out {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid gray;
  background: $audio__player__active;
  border-radius: 15px;
  color: white;
}

.data-option {
  background: $audio__player__active;
  padding: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  border: 1px solid $audio__player__border;
  box-shadow: 0px 0px 5px  rgba(0,0,0,0.75);
  transition: transform 1s ease;
}

.data-option > div {
  width: 100%;
  height: 25px;
}

.data-option > div > p {
  margin: 2px
}
.data-option > div:hover {
  background: $playlist_background;
}

.data-option > div:active {
  background: $playlist_background;
  box-shadow: inset 0px 0px 23px 7px rgba(0,0,0,0.75);
}

.data-option > p {
  padding: 1px;
  margin: 2px;
}
.user-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-configuration {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $playlist_background;
}

.user-configuration input {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 25px;
  margin: 3px;
}

input {
  box-shadow: inset 0.5px 1px 2px #000;
}

.button {
  background: #46575f;
  box-shadow: 0.5px 1px 1px #000;
}

.button:hover {
  background: #46575f;
}

.button:active {
  box-shadow: inset 0px 0px 2px #000;
}
