.audio__playlist__filter
  input
    background: rgba(128,128,128, 0.5)
    color: white
    width: 50%
    height: 35px
    border-radius: 5px
    border: none
    font-size: 15px
    padding-left: 10px
    margin-left: 10px
