.audio__navigation {
  width: 100%;
  max-width: 150px;
  height: 100%;
  background: #63333f;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.playlist__directory {
  padding-left: 20px;
}

.playlist__list {
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}

.playlist__directory__active {
  color: #ffe7aa;
}

.playlist__item  {
  height: 35px;
  display: flex;
  align-items: center;
}

.playlist__item i {
  margin-right: 10px;
}

// .audio__playlist__controls
// .audio__navigation
//   width: 30%
//   height: 95%
//   color: $audio__player__basic
//   background: $audio__player__active
//   border-top: 2px solid $audio__player__border
//   border-right: 2px solid $audio__player__border
//   position: fixed
//   transform: translateX(-100%)
//   transition: all 1s ease
//   top: 0


// .toggle-nav
//   transform: translateX(0)

// .playlist__input
//   width: 80%
//   padding-left: 15px
//   outline: none

// .playlist__directory
//   padding-left: 10px
//   position: relative

// .playlist__add
//   margin: 15px 0
//   input
//     border: none
//     border-radius: 10px
//     padding: 5px

// .playlist__folders
// .playlist__directory__active
//   color: $green-3
// .playlist__list
//   margin: 0
//   padding: 0
//   flex-direction: column

// .playlist__item
//   display: flex
//   cursor: pointer
//   p
//     margin: -5px 0 10px 10px
//   // justify-content: space-around

// .playlist__create
//   bottom: 7px
//   position: absolute
//   cursor: pointer
//   display: flex
//   width: 100%
//   padding: 5px 0
//   border-top: 2px solid white
//   border-bottom: 2px solid white
//   &:active
//     background: $playlist_background

// .playlist__icon
//   width: 20px
//   height: 20px
//   padding: 10px
//   display: flex
//   border-radius: 70%
//   border: 2px solid white
//   align-items: center
//   justify-content: center

// .playlist__text
//   margin: 10px 0 0 10px

// .urgent
//   display: flex

// .user-data
//   width: 40%
//   display: flex
//   flex-direction: row
//   justify-content: flex-end

// .user-dropdown
//  position: absolute
//  top: 45px
//  right: 10px
//  z-index: 10
//  padding: 5px
//  display: flex
//  flex-direction: column
//  justify-content: center
//  align-items: center
//  border-radius: 15px
//  background: $playlist_background
//  border: 2px solid $audio__player__border
//  box-shadow: 10px 10px 3px -9px rgba(0,0,0,0.75)

// .user-image
//   width: 40px
//   height: 40px
//   margin: 5px
//   border-radius: 50%
//   border: 2px solid $playlist_background
//   overflow: hidden
//   img
//     width: 100%
//     height: 100%
// @media (min-width: 750px)
//   .audio__navigation
//     width: 15%
//     height: 100%
//     position: relative
//     transform: translateX(0)
//     // display: block
