.audio__playlist
  width: 100%
  height: 100%
  background:   $playlist_background
  color: $audio__player__text__color

.audio__playlist__header
  display: flex
  height: 70px
  margin: 5px 0px
  padding: 3px 0px
  border-bottom: 2px solid $audio__player__break_lines
  border-top: 2px solid $audio__player__break_lines
  justify-content: space-around
  font-family: $font-family
  user-select: none
  p
   margin: 0
   padding: 8px 0 0 0

.audio__playlist__main
  height: 100%
  width: 100%
  display: flex
  flex-direction: column

.audio__playlist__title
  font-size: 1.5em
  font-weight: bold
  margin-left: 25px

.audio__playlist__body
  height: 100%
  margin-top: 10px
  overflow-y: scroll

.audio__playlist__item
  display: flex
  cursor: pointer
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  justify-content: space-around
.active__track
  background: $audio__player__active

.isMobile
  display: none

//media queries
@media (min-width: 800px)
  .isMobile
    display: flex
