.audio__playlist__filter
  width: 95%
  display: flex
  align-items: center
  input
    background: rgba(128,128,128, 0.5)
    color: white
    width: 100%
    height: 45px
    border-radius: 5px
    border: none
    font-size: 15px
    padding-left: 10px
    outline: none


.audio__playlist__controls
  margin-top: 10px
  display: flex
  align-items: center
  height: 10%
  // flex-direction: column
  background: $audio__player__active
  border-bottom: $audio__player__border

@media (min-width: 800px)
  .audio__playlist__filter
    width: 70%
    input
      margin-left: 10px
      width: 70%
      height: 35px
