.audio__playlist
  width: 80%
  height: 100%
  background:   $playlist_background
  color: $audio__player__text__color

.audio__playlist__header
  display: flex
  margin: 5px 0px
  padding: 2px opx
  border-bottom: 2px solid $audio__player__break_lines
  border-top: 2px solid $audio__player__break_lines
  justify-content: space-around
  font-family: $font-family

.audio__playlist__title
  font-size: 1.5em
  font-weight: bold
  margin-left: 25px

.audio__playlist__body
  margin-top: 10px

.audio__playlist__item
  display: flex
  justify-content: space-around
.active__track
  background: $audio__player__active
