.flex-1-3 {
  width: 30%;
  height: 100%;
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.ml-15 {
  margin-left: 15px;
}

.audio__player {
  background: black;
  display: flex;
  color: $audio__player__basic;
  justify-content: space-between;
  height: auto;
  width: 100%;
  height: auto;
  min-height: 45px;
  position: absolute;
  bottom: 0;
}

.audio__track {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.duration__time__range {
  width: 100%;
  height: 15px;
  top: -15px;
  padding: 0px;
  box-sizing: border-box;
  background: $primary_color;
  position: absolute;
}

input[type=range] {
  -webkit-appearance: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: inherit;
  background: $secondary_color;
}

.player_range::-webkit-slider-thumb  {
  visibility: hidden;
}

.player_range {
  width: 100%;
}

.step__button {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1.2em;
  margin: 0px 15px;
}


.play__button {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: $audio__player__basic;
  border-radius: 50%;
  transform: scale(0.9);
  border: 2px solid white;
}


.volume__range > input[type=range] {
    height: 5px;
    width: 80%;
    // background: gray;
    cursor: pointer;
    padding: initial;
    border: initial;
    margin: 2px;
    -webkit-appearance: none;
    transform: translateY(-5px);
}

.player_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $audio__player;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: $audio__player__basic;
  cursor: pointer;
  box-shadow: 1px 1px 1px $audio__player, 0px 0px 1px $audio__player;
}

.repeat__button {
  width: 5%;
  color: $audio__player__basic;
  display: flex;
  font-size: 1.2em;
  align-items: center;
  justify-content: center;
}

.duration__time {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.is--Active {
  color: $secondary_color;
}

// @media (min-width: 800px) {
//   .audio__player {
//     background: black;
//     display: flex;
//     color: $audio__player__basic;
//     justify-content: center;
//     height: auto;
//     width: 100%;
//     height: 7%;
//     min-height: 45px;
//     position: absolute;
//     bottom: 0;
//   }
//    .play__button {
//     margin-top: 0px;
//   }
//   .volume__range {
//     width: 10%;
//   }
//   .duration__time__range {
//     width: 100%;
//   }
//   .duration__time__range > input[type=range] {
//     width: 100%;
//   }
//   .audio__track {
//     width: 15%;
//   }
//   .play__button {
//     width: 35px;
//     height: 35px;
//   }
// }

