<div class="user-data">
  <p>{{user.username}}</p>
  <div {{action 'toggleNavigation' on="mouseEnter"}} class="user-image">
    <img src="{{user.image}}" alt="" />
  </div>
  </div>

{{#unless isHidden}}
<div class="user-dropdown">
  {{yield}}
</div>
{{/unless}}
