{{#if showBackButton}}
  {{#link-to "music" class="button-music"}}<p class="button-back"> &lArr;</p>{{/link-to}}
{{/if}}
<div class="user-image">
  <img src="{{user.image}}" alt="" />
</div>
<span {{action 'toggleNavigation' on="mouseEnter"}} >&cudarrr;</span>
{{#unless isHidden}}
  <div class="user-dropdown">
    {{yield}}
  </div>
{{/unless}}
