/* Playlist css colors
$audio__player: rgba(0, 0, 0, 0.9)
$audio__player__range: rgba(0, 0, 0, 0.9)
$audio__player__basic: #fff

/* Audio playlist
$playlist_background: #607D8B
$font-family: 'Open Sans', sans-serif
$audio__player__text__color: #fff
$audio__player__break_lines: #fff
$audio__player__active: #455A64
