<div class="ember-load-indicator">
  <!-- CAN I HAS APP NOW? -->
</div>
{{ember-load-remover}}
{{liquid-outlet}}


{{#if show}}
  {{data-option hidePropery="hidePropery" position=position data=data}}
{{/if}}
