<div class="card">
  <div class="form-control">
    <h1>Login:</h1>
  </div>
  <div class="form-control">
    <label for="">Email:</label>
    {{input type="input" name="name" value=email}}
    {{#unless isValidEmail}}
      <span class="error-text">Input is not email address</span>
    {{/unless}}
  </div>
  <div class="form-control">
    <label for="">Password:</label>
    {{input type="password" name="name" value=password}}
    {{#unless isEmpty}}
      <span class="error-text">Input is empty</span>
    {{/unless}}
  </div>
  <div class="form-control">
      <small>Or create account: <a href="/register">Register</a></small>
  </div>
  <div class="form-control">
      <button {{action 'loginUser'}} type="button" class="button" name="button">Log in</button>
  </div>
</div>

{{outlet}}
